/* .chat-line__message .text-fragment {
    background-color: lime !important;
    color: black !important;
} */

@keyframes color-change {
    0% { color: blue; }
    50% { color: red; }
    100% { color: blue; }
}